/* [Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px */


@media only screen and (max-width: 1600px)
{
	
}

@media only screen and (max-width: 1540px)
{
	
}

/* 3. 1280px*/

@media only screen and (max-width: 1280px)
{
	
}

/* 4. 1199px */

@media only screen and (max-width: 1199px){
    .product-item{
        height: 360px;
    }
    .product{
        height: 320px;
    }
}

/* 5. 1024px*/

@media only screen and (max-width: 1024px)
{
	
}

/* 6. 991px */

@media only screen and (max-width: 991px){
    h1{font-size: 48px;}
    h2{font-size: 36px;}

    .top_nav{
        display: none;
    }

    .navbar_menu{
        display: none;
    }

    .hamburger_container{
        display: block;
    }

    .product_section_container{
        margin-top: 100px;
    }

    .sidebar{
        float: none;
        width:  100%;
        padding-right: 0px;
    }

    .filter_button{
        width: 150px;
    }

    .main_content{
        float: none;
        width: 100%;
        padding-left: 0px;
    }

    /* .grid-item */

    .product-item{
        width: 33.33333333%;
    }

    .benefit_col{
        margin-bottom: 30px;
    }

    .benefit_col:last-child{
        margin-bottom: 0px;
    }

    .newsletter_text{
        height: auto;
        margin-top: 30px;
    }

    .newsletter_text p{
        margin-top: 5px;
    }

    .newsletter_form{
        height: auto;
        margin-top: 30px;
        margin-bottom: 40px
    }

    .footer_nav_container{
        height: auto;
        margin-top: 65px;
    }
    
    .footer_social{
        height: auto;
        margin-top: 20px;
        margin-bottom: 65px;
    }
}

/* 7. 959px */

@media only screen and (max-width: 959px)
{
	
}

/* 8. 880px */

@media only screen and (max-width: 880px)
{
	
}

/*9. 768px*/

@media only screen and (max-width: 768px)
{
	
}

/*10. 767px*/

@media only screen and(max-width: 767px){
    h1{font-size: 36px;}
	h2{font-size: 24px;}
	h6{font-size: 12px;}

    .red_button a{
        font-size: 12px;
    }

    /* .new_arrivals_title{
        margin-top: 44px;
    } */

    .product_sorting{
        display: block;
    }

    .product_sorting > li{
        display: block;
        margin-bottom: 15px;
    }

    .pages{
        float: none;
    }

    .showing_results{
        display: block;
        float: none;
        margin-bottom: 15px;
    }

    .product_sorting_container_bottom .product_sorting{
        float: none;
    }

    .product_sorting_container_bottom .pages{
        float: none;
    }

    .product-item{
        width: 33.333333333333%;
        height: 345px;
    }

    .product{
        height: 305px;
    }

    .benefit_col{
        margin-bottom: 15px;
    }

    .newsletter-form{
        margin-bottom: 40px;
    }

    .newsletter_submit_btn{
        margin-top: 15px;
    }
}